.wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 1px solid black;
  width: 200px;
  border-radius: 20px;
}

.input {
  height: 30px;
  border: none;
  outline: none;
  border-radius: 20px;
}

.iconStyle {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.togleButton {
  background-color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
