.toast {
  background-color: gray;
  color: white;
  border: 1px solid black;
  width: fit-content;
  min-width: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.3s ease-in-out;
}

.toast.show {
  opacity: 1;
  transform: translateX(0);
}

.iconStyleToast {
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.togleButtonToast {
  background-color: gray;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
